/* Reset básico */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1e293b, #0f172a);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 40px;
}

/* Container principal centralizado */
.container {
  background: rgb(196, 194, 194);
  padding: 5px 40px 40px;
  border-radius: 15px;
  width: 90%;
  max-width: 900px;
  box-shadow: 0 0px 40px rgba(0, 0, 0, 0.2);
}

/* Título */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #1f2937;
}

/* Formulário */
.form {
  display: grid;
  gap: 15px;
  margin-bottom: 10px;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  transition: 0.2s;
}

input:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 5px rgba(37, 99, 235, 0.3);
}

/* Botões */
button[type="submit"] {
  background-color: #2563eb;
  color: white;
  padding: 10px 24px;
  width: fit-content;
  justify-self: center;
}

button[type="submit"] {
  background-color: #2563eb;
  color: white;
}

button[type="submit"]:hover {
  background-color: #1d4ed8;
}

.delete {
  background-color: #dc2626;
  color: white;
}

.delete:hover {
  background-color: #b91c1c;
}

/* Tabela */
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 0;
}

thead {
  background-color: #1f2937;
  color: white;
}

th, td {
  padding: 12px;
  text-align: center;
}

tbody td {
  color: #000000;
}

tbody tr {
  border-bottom: 1px solid #e5e7eb;
}

tbody tr:nth-child(even) {
  background-color: #f9fafb;
}

tbody tr:hover {
  background-color: #e0e7ff;
  transition: 0.2s;
}